.notFound{
    @include verticalCenter;
    height: 95vh;
    max-width: 1400px;
    background: $couleur-3;
    border-radius: $borderRadius;
    text-align: center;

    h3{
        margin-bottom: 3rem;
        font-size: 2rem;
    }

    a{
        padding: 1rem 2rem;
        border-radius: $borderRadius;
        background: $couleur-5;
        transition: .2s;
        &:hover{
            background: $couleur-4;
        }
    }
}